/* || STYLE GENERAL */

/* Pour chaque titre de card */
h3 {
	font-size: 13px;
}

/* Prix hébergement */
.price {
	font-size: 12px;
}

/* Note étoiles */
.rating {
	justify-content: initial;
	width: initial;
	font-size: 10px;
}

.popular h3 {
	width: initial;
}