/* || STYLE GENERAL */

/* Note étoiles */
.rating {
	justify-content: initial;
	width: initial;
}

/* || HEADER */

header {
	flex-direction: column;
	align-items: center;
	margin: 0 0 0 0;
	width: 100%;
}

/* Logo */
header img {
	margin: 10px 0 0 12%;
}

nav {
	margin: 30px 0 0 0;
	width: 100%;
}

header ul {
	justify-content: initial;
	align-items: initial;
	text-align: center;
}

header li {
	border-top: 0;
	border-bottom: 4px solid #f2f2f2;
	width: 50%;
	padding: 0 0 10px 0;
}

/* Bordure du dessous devient bleu quand la souris passe sur le li */
header li:hover {
	border-top: 0;
	border-bottom: 4px solid #0065fc;
}

/* || MAIN */

main {
	margin: 4% auto 5% auto;
	width: 100%;
}

.search-filters {
	margin: 0 auto 0 auto;
	width: 90%;
}

/* || BARRE DE RECHERCHE */

.search-bar {
	margin: 30px 0 0 0;
}

.fa-location-dot {
	flex-shrink: 0;
	border-radius: 15px 0 0 15px;
}

/* Champ de recherche */
.search {
	min-width: 180px;
}

.search-button {
	flex-shrink: 0;
	border-radius: 0 20px 20px 0;
	margin: 0 0 0 0;
}

/* || FILTRES ET RESULTATS */

.filters-list {
	margin: 30px 0 0 0;
}

.filters-list span:first-child {
	margin: 0 0 10px 0;
	width: 100%;
}

/* Chaque filtre */
.filters {
	margin: 5px 1% 10px 0;
}

/* Logo filtre */
.filters .fa-solid {
	height: 40px;
	width: 40px;
}

/* Intitulé filtre */
.filters span {
	padding: 0 10px 0 5px;
	font-size: 17px;
}

/* Div avec logo + phrase */
.results {
	align-items: initial;
	margin: 20px 0 0 0;
}

.fa-info {
	flex-shrink: 0;
	height: 20px;
	width: 20px;
}

/* Div hébergements et populaires */
.lodgings-popular {
	flex-direction: column;
	justify-content: initial;
	margin: 30px 0 0 0;
}

.lodgings-popular section:nth-child(1) {
	order: 2;
}

.lodgings-popular section:nth-child(2) {
	order: 1;
}

/* || HEBERGEMENTS MARSEILLE */

#lodgings {
	border-radius: initial;
	background-color: initial;
	width: initial;
	padding: 0 6% 0 6%;
}

/* "Hébergements à Marseille" */
#lodgings h2 {
	margin: 30px 0 7px 0;
}

.lodging-list {
	flex-direction: column;
	align-items: center;
	margin: 15px 0 0 0;
}

/* Encadré blanc card hébergement */
.lodging-list a {
	margin: 0 0 14px 0;
	max-width: 340px;
	width: 71%;
}

.lodging-image {
	aspect-ratio: 2.85 / 1;
}

/* "Afficher plus" */
.show-more {
	margin: 20px 0 30px 0;
}

/* || LES PLUS POPULAIRES */

.most-popular {
	flex-shrink: initial;
	border-radius: 0;
	width: initial;
	padding: 0 6% 25px 6%;
}

/* "Les plus populaires" */
.most-popular h2 {
	margin: 30px 0 7px 0;
}

/* Etoile "Les plus populaires" */
.most-popular-star {
	margin: 30px 0 7px 0;
}

.popular-list {
	align-items: center;
	margin: 15px 0 0 0;
}

/* Encadré blanc card populaire */
.popular-list a {
	margin: 0 0 10px 0;
	max-width: 340px;
	width: 71%;
	padding: 5px;
}

.popular-image {
	position: relative;
	border-radius: 15px 0 0 15px;
	height: initial;
	width: 42%;
	aspect-ratio: 0.95 / 1;
}

/* Légende card populaire */
.popular figcaption {
	padding: 0 0 0 6%;
}

.popular h3 {
	padding: 6% 0 0 0;
}

/* Note populaire */
.popular .rating {
	padding: 3% 0 6% 0;
}

/* || ACTIVITES MARSEILLE */
#activities {
	padding: 0 6% 0 6%;
}

/* "Activités à Marseille" */
#activities h2 {
	margin: 20px 0 7px 0;
}

/* Div avec les cards activités */
.activities-list {
	position: initial;
	align-content: initial;
	align-items: center;
	margin: 25px 0 0 0;
	height: initial;
	aspect-ratio: initial;
}

/* Encadré blanc card activité */
.activities-list a {
	position: initial;
	margin: 0 0 22px 0;
	max-width: 340px;
	width: 71%;
	aspect-ratio: initial;
}

/* Encadré 2eme card */
.activities-list a:nth-child(2) {
	height: initial;
	aspect-ratio: initial;
}

/* Encadré 3eme card */
.activities-list a:nth-child(3) {
	height: initial;
	aspect-ratio: initial;
}

/* Encadré 5eme card */
.activities-list a:nth-child(5) {
	height: initial;
	aspect-ratio: initial;
}

/* Encadré 6eme card */
.activities-list a:nth-child(6) {
	height: initial;
	aspect-ratio: initial;
}

/* Miniature 2eme card */
.activities-list a:nth-child(2) img {
	aspect-ratio: 2.49 / 1;
}

/* Miniature 3eme card */
.activities-list a:nth-child(3) img {
	aspect-ratio: 2.49 / 1;
}

/* Miniature 5eme card */
.activities-list a:nth-child(5) img {
	aspect-ratio: 2.49 / 1;
}

/* Miniature 6eme card */
.activities-list a:nth-child(6) img {
	aspect-ratio: 2.49 / 1;
}

/* Miniature card activité */
.activity img {
	flex-grow: 1;
	max-width: 340px;
	aspect-ratio: 2.49 / 1;
}

/* Pour chaque légende de card activité */
.activity figcaption {
	margin: 7% 0 5% 6%;
}

/* || Footer */

.footer-list {
	flex-direction: column;
	width: 90%;
	padding: 40px 0 0 4%;
}

.footer-list div {
	margin-bottom: 30px;
}

/* Tout le contenu de chaque div */
footer li {
	margin: 0 0 10px 0;
}

/* Titre de liste */
footer p {
	margin: 0 0 20px 0;
}
