/* || STYLE GENERAL */

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

a, a:focus, a:active {
	text-decoration: none;
	color: #000000;
}

/* "Trouvez votre hébergement..." */
h1 {
	font-size: 21px;
}

/* "Hébergements à Marseille", "Les plus populaires" et "Activités à Marseille" */
h2 {
	font-size: 20px;
}

/* Pour chaque titre de card */
h3 {
	font-size: 14px;
}

ul {
	list-style-type: none;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Raleway", serif;
}

/* Pour chaque étoile "vide" */
.empty-star {
	color: #d9d9d9;
}

/* Prix hébergement */
.price {
	font-size: 13px;
}

/* Quand un prix est bas */
.hot-price {
	font-weight: bold;
}

/* Note étoiles */
.rating {
	display: flex;
	justify-content: space-between;
	width: 68px;
	font-size: 11px;
	color: #0065fc;
}

/* || HEADER */

header {
	display: flex;
	justify-content: space-between;	/* Pour avoir le logo tout à gauche et le nav tout à droite */
	margin: 0 auto 0 auto;
	max-width: 1340px;
	width: 93%;
}

/* Logo */
header img {
	margin: 34px 0 0 3%;
	height: 45px;
	width: 95.5px;
}

header ul {
	display: flex;
	justify-content: space-around;	/* Chaque élément de la liste est réparti équitablement. Un espace est appliqué à chaque extrémité. */
	align-items: baseline; /* On aligne en bas */
	margin: 0;
	padding: 0;
	font-size: 16px;
}

header li {
	border-top: 2px solid transparent; /* Evite le décalage du texte lors du hover */
	padding: 45px 22px 0px 22px; /* Permet d'avoir la bordure tout en haut */
}

/* Bordure devient bleu quand la souris passe sur le li */
header li:hover {
	border-top: 2px solid #0065fc;
}

/* Hébergements et Activités deviennent bleu au passage de la souris */
header li:hover a {
	color: #0065fc;
}

/* || MAIN */
main {
	margin: 2% auto 4% auto;
	max-width: 1340px;
	width: 93%;
	flex: 1 0 auto;
}

/* "En plein centre ville..." */
.search-filters p {
	font-size: 16px;
	font-weight: normal;
}

/* || BARRE DE RECHERCHE */

.search-bar {
	display: flex;
	margin: 1% 0 0 0;
}

.fa-location-dot {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	height: 50px;
	width: 50px;
	font-size: 16px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* Champ de recherche */
.search {
	border: 0px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	height: 50px;
	width: 236px;
	padding: 0 0 0 16px; /* On se décale un peu de la gauche */
	font-size: 16px;
	font-weight: bold;
}

.search-button {
	border: 0px solid;
	background-color: #0065fc;
	width: 130px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	border-top-right-radius: 20px;  /* On arrondit l'angle supérieur droit */
	border-bottom-right-radius: 20px;	/* On arrondit l'angle inférieur droit */
}

.search-button:before {
	content: "Rechercher";
}

/* || FILTRES ET RESULTATS */

.filters-results {
	margin: 0 0 0 1%;
	height: 112px;
	max-width: 929px;
}

.filters-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap; 	/* Permettre à la phrase de revenir à la ligne */
	margin: 2% 0 0 9px;
}

/* "Filtres" */
.filters-list span {
	font-size: 17px;
	font-weight: bold; /* "Filtres" en gras */
}

/* Chaque filtre */
.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-left: 0px;
	border-radius: 100px; /* On arrondit les coins */
	margin: 5px 0 5px 30px;
	background-color: #ffffff;
	font-weight: bold;
	color: #000000;
}

/* Logo filtre */
.filters .fa-solid {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%; /* Cercle */
	background-color: #deebff;
	height: 45px;
	width: 50px;
	font-size: 17px;
	color: #0065fc;
}

.filters:hover {
	background-color: #0065fc;
	color: #ffffff;
}

.filters:hover .fa-solid {
	color: #0065fc;
}

/* Intitulé filtre */
.filters span {
	padding: 0 20px 0 10px;
}

/* Dimensions de la div avec logo + phrase */
.results {
	display: flex;
	align-items: center;
	margin: 3% 0 0 0;
	font-size: 16px;
}

.fa-info {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #d9d9d9;
	border-radius: 50%; /* Cercle */
	height: 24px;
	width: 24px;
	font-size: 12px;
	color: #0065fc;
}

/* Phrase nombre de résultats */
.results p {
	margin: 0 0 0 10px;
}

/* Div hébergements et populaires */
.lodgings-popular {
	display: flex;
	justify-content: space-between;
	margin: 36px 0 0 0;
}

/* || HEBERGEMENTS MARSEILLE */

#lodgings {
	border-radius: 20px;
	background-color: #f2f2f2;
	width: 65%;
	padding: 0 3% 0 3%;
}

/* "Hébergements à Marseille" */
#lodgings h2 {
	margin: 35px 0 7px 0;
	width: 100%;
}

.lodging-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Encadré blanc card hébergement */
.lodging-list a {
	border-radius: 20px;
	margin: 2% 0 2% 0;
	background-color: #ffffff;
	width: 31%;
	padding: 5px;
	box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
}

/* Card hébergement */
.lodging {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}

/* Miniature de card hébergement */
.lodging-image {
	position: relative;
	border-radius: 15px 15px 0 0;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 2.07 / 1;
}

.lodging figcaption {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 0 0 4%;
}

.lodging h3 {
	padding: 4% 0 0 0;
}

.lodging .price {
	padding: 1% 0 0 0;
}

.lodging .rating {
	padding: 3% 0 3% 0;
}

/* "Afficher plus" */
.show-more {
	margin: 3% 0 5% 0;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}

/* || LES PLUS POPULAIRES */

.most-popular {
	flex-shrink: 2;
	border-radius: 20px;
	background-color: #f2f2f2;
	width: 31%;
	padding: 0 3% 0 3%;
}

/* "Les plus populaires" */
.most-popular h2 {
	display: inline-block;
	margin: 35px 0 7px 0;
}

/* Etoile "Les plus populaires" */
.most-popular-star {
	margin: 35px 0 7px 0;
	float: right;
	font-size: 20px;
}

.popular-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 5% 0 0 0;
}

/* Encadré blanc card populaire */
.popular-list a {
	border-radius: 20px;
	margin: 0 0 8% 0;
	background-color: #ffffff;
	padding: 5px;
	box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
}

/* Card populaire */
.popular {
	display: flex;
	justify-content: space-between;
}

/* Miniature card populaire */
.popular-image {
	position: relative;
	border-radius: 15px 0 0 15px;
	width: 37%;
	object-fit: cover;
	aspect-ratio: 0.95 / 1;
}

/* Légende card populaire */
.popular figcaption {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 0 0 4%;
	flex: 1;
}

.popular h3 {
	width: 80%;
	padding: 4% 0 0 0;
}

/* Prix populaire */
.popular .price {
	flex-grow: 1;
	padding: 5% 0 0 0;
}

/* Note populaire */
.popular .rating {
	padding: 3% 0 3% 0;
}

/* || ACTIVITES MARSEILLE */

/* "Activités à Marseille" */
#activities h2 {
	margin: 50px 0 0 0;
}

/* Div avec les cards activités */
.activities-list {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 25px 0 0 0;
	aspect-ratio: 3.01 / 1;
}

/* Encadré blanc card activité */
.activities-list a {
	position: relative;
	border-radius: 20px;
	background-color: #ffffff;
	height: 100%;
	width: 22.7%;
	box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
	aspect-ratio: 0.68 / 1;
}

/* Encadré 2eme card */
.activities-list a:nth-child(2) {
	position: relative;
	height: initial;
	aspect-ratio: 1.28 / 1;
}

/* Encadré 3eme card */
.activities-list a:nth-child(3) {
	position: relative;
	height: initial;
	aspect-ratio: 1.84 / 1;
}

/* Encadré 5eme card */
.activities-list a:nth-child(5) {
	position: relative;
	height: initial;
	aspect-ratio: 1.55 / 1;
}

/* Encadré 6eme card */
.activities-list a:nth-child(6) {
	position: relative;
	height: initial;
	aspect-ratio: 1.44 / 1;
}

/* Miniature 2eme card */
.activities-list a:nth-child(2) img {
	position: relative;
	aspect-ratio: 1.68 / 1;
}

/* Miniature 3eme card */
.activities-list a:nth-child(3) img {
	position: relative;
	aspect-ratio: 2.77 / 1;
}

/* Miniature 5eme card */
.activities-list a:nth-child(5) img {
	position: relative;
	aspect-ratio: 2.17 / 1;
}

/* Miniature 6eme card */
.activities-list a:nth-child(6) img {
	position: relative;
	aspect-ratio: 1.97 / 1;
}

/* Card activité */
.activity {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Miniature card activité */
.activity img {
	position: relative;
	border-radius: 20px 20px 0 0;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 0.78 / 1;
}

/* Pour chaque légende de card activité */
.activity figcaption {
	margin: 5% 0 5% 5%;
}

/* || Footer */

footer {
	flex-shrink: 0;
	background-color: #f2f2f2;
}

.footer-list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 0 auto;
	max-width: 1340px;
	width: 93%;
	padding: 3% 25% 4% 0;
}

/* Tout le contenu de chaque div */
footer li {
	margin: 0 0 14px 0;
	font-size: 15px;
}

/* Titre de liste */
footer p {
	margin: 0 0 22px 0;
	font-size: 17px;
	font-weight: bold;
}
