/* || STYLE GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:focus, a:active {
    text-decoration: none;  /* On enlève la décoration */
    color: #000000;
}

/* "Trouvez votre hébergement..." */
h1 {
    font-size: 21px;
}

/* "Hébergements à Marseille", "Les plus populaires" et "Activités à Marseille" */
h2 {
    font-size: 20px;

}

/* Pour chaque titre de card */
h3 {
    font-size: 14px;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Raleway', serif;
    display: flex;
    flex-direction: column;
}

/* Pour chaque étoile "vide" */
.empty-star {
    color: #d9d9d9;
}

/* Prix hébergement */
.price {
    font-size: 13px;
}

/* Quand un prix est bas */
.hot-price {
    font-weight: bold;
}

/* Note étoiles */
.rating {
    display: flex;
    justify-content: space-between;
    width: 68px;
    font-size: 12px;
    color: #0065FC;
}


/* || HEADER */

header {
    display: flex;
    justify-content: space-between; /* Pour avoir le logo tout à gauche et le nav tout à droite */
    width: 93%;
    margin: 0 auto 0 auto;
}

/* Logo */
header img {
    margin: 45px 0 0 3%;
    width: 95.5px;
    height: 45px;
}

header ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: space-around;  /* Chaque élément de la liste est réparti équitablement. Un espace est appliqué à chaque extrémité. */
    align-items: baseline; /* On aligne en bas */
}

header li {
    padding: 45px 22px 0px 22px;    /* Permet d'avoir la bordure tout en haut */
    border-top: 2px solid transparent;  /* Evite le décalage du texte lors du hover */
}

/* Bordure devient bleu quand la souris passe sur le li */
header li:hover {
    border-top: 2px solid #0065FC;
}

/* Hébergements et Activités deviennent bleu au passage de la souris */
header li:hover a {
    color: #0065FC;
}


/* || MAIN */
main {
    flex: 1 0 auto;
    width: 93%;
    margin: 2% auto 4% auto;
}

/* "En plein centre ville..." */
.search-filters p {
    font-size: 16px;
    font-weight: normal;
}


/* || BARRE DE RECHERCHE */

.search-bar {
    margin: 1% 0 0 0;
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.fa-location-dot {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
}

/* Champ de recherche */
.search {
    width: 236px;
    height: 50px;
    border: 0px;
    padding-left: 16px; /* On se décale un peu de la gauche */
    font-weight: bold;
}

.search-button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    width: 130px;
    border-top-right-radius: 20px 20px; /* On arrondit l'angle supérieur droit */
    border-bottom-right-radius: 20px 20px;  /* On arrondit l'angle inférieur droit */
    border: 0px solid;
    background-color: #0065FC;
}

/* 
   On insère "Rechercher" dans le bouton de recherche
   Nécessaire pour pouvoir changer le texte en icone en version mobile
*/
.search-button:before {
    content:"Rechercher";
}


/* Changement de "Rechercher" en icone Loupe pour vue mobile
#search-button::before {
    font-family: fontAwesome;
    content: "\f002";
}
*/


/* || FILTRES ET RESULTATS */

.filters-results {
    height: 112px;
    max-width: 929px;
    margin: 0 0 0 1%;
}

.filters-list {
    display: flex;    /* Permettre à la phrase de revenir à la ligne */
    flex-wrap: wrap;
    align-items: center;
    margin: 2% 0 0 9px;
}

/* "Filtres" */
.filters-list span {
    font-weight: bold;  /* "Filtres" en gras */
    font-size: 17px;
}

/* Chaque filtre */
.filters {
    border-radius: 100px 100px 100px 100px; /* On arrondit les coins */
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #d9d9d9;
    border-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 30px;
    font-weight: bold;
}

/* Logo filtre */
.filters .fa-solid {
    color: #0065FC;
    display: flex;
    width: 50px;
    height: 45px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100px 100px 100px 100px; /* Cercle */
}

.filters:hover {
    background-color: #0065FC;
    color: #ffffff;
}

.filters:hover .fa-solid {
    color: #0065FC; /* On laisse l'icone en bleu */
}

/* Intitulé filtre */
.filters span {
    padding-left: 10px;
    padding-right: 20px;
}

/* Dimensions de la div avec logo + phrase */
.results {
    display: flex;
    font-size: 16px;
    margin-top: 3%;
    align-items: center;
}

.fa-info {
    font-size: 12px;
    width: 24px;
    height: 24px;
    border-radius: 100px 100px 100px 100px; /* Cercle */
    border: 1px solid #d9d9d9;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Phrase nombre de résultats */
.results p {
    margin-left: 10px;
}

/* Div hébergements et populaires */
.lodgings-popular {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}


/* || HEBERGEMENTS MARSEILLE */

#lodgings {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; /* Arrondi bordure */
    padding: 0 3% 0 3%;
}

/* "Hébergements à Marseille" */
#lodgings h2 {
    width: 100%;
    margin: 35px 0 7px 0;
}

.lodging-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Encadré blanc card hébergement */
.lodging-list a {
    margin: 2% 0 2% 0;
    padding: 5px;
    width: 31%;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
}

/* Card hébergement */
.lodging {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging-image {
    height: 110px;
}

/* Miniature de card hébergement */
.lodging img {
    /*
    flex-grow: 1;
    max-height: 110px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    */
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.lodging figcaption {
    /*margin: 0 0 3% 6%;*/
    padding: 0 0 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lodging h3 {
    padding-top: 4%;
}

.lodging .price {
    padding: 1% 0 0 0;
}

.lodging .rating {
    padding: 3% 0 3% 0;
}

/* "Afficher plus" */
.show-more {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 3% 0 5% 0;
}


/* || LES PLUS POPULAIRES */

.most-popular {
    width: 31%;
    flex-shrink: 2;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; /* Arrondi bordure */
    padding: 0 3% 0 3%;
}

/* "Les plus populaires" */
.most-popular h2 {
    display: inline-block;
    margin: 35px 0 7px 0;
}

/* Etoile "Les plus populaires" */
.most-popular-star {
    float: right;
    font-size: 20px;
    margin: 35px 0 7px 0;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

/* Encadré blanc card populaire */
.popular-list a {
    /*
    max-width: 344px;
    max-height: 150px;
    background-color: #ffffff;
    margin: 15px 0 15px 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
    margin: 0 0 11% 0;
    */
    height: 135px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
}

/* Card populaire */
.popular {
    /*
    margin: 0;
    width: 100%;
    height: 100%;
    */
    display: flex;
    justify-content: space-between;
}

.popular-image {
    width: 120px;
}

/* Miniature card populaire */
.popular img {
    /*
    max-width: 127px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    padding: 5px;
    flex-grow: 1;
    */
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

/* Légende card populaire */
.popular figcaption {
    /*margin: 5% 10% 0 6%;*/
    /*
    flex: 1;
    */
    padding: 0 0 0 4%;
    display: flex;
    flex-direction: column;
    /*
    justify-content: space-between;
    flex: 1;
    */
}

.popular h3 {
    /*
    width: 85%;
    padding-top: 4%;
    */
}

/* Prix populaire */
.popular .price {
    /*
    padding-top: 5%;
    flex-grow: 1;
    */
}

/* Note populaire */
.popular .rating {
    /*
    padding: 3% 0 3% 0;
    */
}


/* || ACTIVITES MARSEILLE */

#activities {
    width: 100%;
}

/* "Activités à Marseille" */
#activities h2 {
    margin-top: 50px;
}

/* Div avec les cards activités */
.activities-list {
    /*
    width: 100%;
    */
    height: 420px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Encadré blanc card activité */
.activities-list a {
    width: 22%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 0px 6px #eaeaea, 0px 8px 6px #eaeaea, -4px 0px 6px #eaeaea, 0px -4px 6px #eaeaea;
}

/* Encadré 2eme card */
.activities-list a:nth-child(2) {
    height: 53%;
}

/* Encadré 3eme card */
.activities-list a:nth-child(3) {
    height: 37%;
}

/* Encadré 5eme card */
.activities-list a:nth-child(5) {
    height: 44%;
}

/* Encadré 6eme card */
.activities-list a:nth-child(6) {
    height: 47%;
}

/* Miniature 2eme card */
.activities-list a:nth-child(2) img {
    height: 76%;
}

/* Miniature 3eme card */
.activities-list a:nth-child(3) img {
    height: 76%;
}

/* Miniature 5eme card */
.activities-list a:nth-child(5) img {
    height: 76%;
}

/* Miniature 6eme card */
.activities-list a:nth-child(6) img {
    height: 76%;
}

/* Card activité */
.activity {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Miniature card activité */
.activity img {
    width: 100%;
    height: 400px;
    flex-grow: 1;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* Pour chaque légende de card activité */
.activity figcaption {
    margin: 5% 0 5% 5%;
}


/* || Footer */

footer {
    flex-shrink: 0;
    background-color: #F2F2F2;
    display: flex;
    padding: 0 50px 0 50px;
}

footer div {
    margin: 47px 0 52px 0;
    font-size: 15px;
}

/* Tout le contenu de chaque div */
footer div * {
    margin-bottom: 18px;
}

/* Titre de liste */
footer > div p {
    margin-bottom: 22px;
    font-weight: bold;
}

/* Espacement entre A propos et Nos Hébergements */
.about {
    margin-right: 228px;
}

/* Espacement entre Nos Hébergements et Assistance */
.our-lodgings {
    margin-right: 292px;
}


/* || L PC (992px - 1199px) */
@media only screen and (max-width: 1200px) {

}


/* || TABLETTE PAYSAGE (768px - 991px) */
@media only screen and (max-width: 992px)
{

}


/* || TABLETTE PORTRAIT & L MOBILE (767px - 600px) */
@media only screen and (max-width: 768px)
{
    
}


/* || S MOBILE (599px & moins) */
@media only screen and (max-width: 600px) {

}